*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(backgroud.img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;

}

.navbar{
        width: 86%;
        display: flex;
        margin: auto;
        padding: 15px 0;
        align-items: center;
        justify-content: space-between;
}

.navbar .logo{
        width: 160px;
        cursor: pointer;
        margin-top: -3%;
        margin-left: -2%;

}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(230, 59, 59);
}

.info{
        margin-left: 4%;
        margin-top: 6%;
}

.info h3{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
}
.info h1{
    font-size: 55px;
    color: rgb(14, 14, 14)
    ;
}

.info span{
    color: orange;
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
        background: rgb(59,174,209);
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;

}
.image img{
    position: absolute;
    height: 140%;
    left:40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;

}
.image:hover.boy{
    left:55%;
}

.icons ion-icon:hover{
    color: rgb(59,174,209);
}

.socal-icons {
    position: absolute;
    bottom: 50px;

}
.socal-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid#fff ;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}

.socal-icons a:hover{
    transform: translateY(-5px)

}

.socal-icons a i {
    color: #fff;

}